@{
    ViewBag.Title = "Contacto";
}


    <div id="divContacto" class="container">
        <h2 class="text-center">CONTACTO</h2><br>
        <div class="row">
            <div class="col-md-5">
                <p>Comunicate directamente con la <strong>CEVT</strong> y comentanos tu inquietud.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> VENADO TUERTO, SANTA FE</p>
                <p><span class="glyphicon glyphicon-phone"></span> +54 1515151515</p>
                <p><span class="glyphicon glyphicon-envelope"></span> venadomarker@cevt.com</p>
            </div>
            <div class="col-md-7 slideanim slide">
                <form method="post" action="@Url.Action("Contacto","Home")">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input class="form-control" id="name" name="nombre" placeholder="Ingrese su Nombre" type="text" required="">
                        </div>
                        <div class="col-md-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Ingrese su Email" type="email" required="">
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="consulta" placeholder="Ingrese su Consulta" rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button class="btn btn-default pull-right" type="submit" name="enviar" value="Enviar consulta">Send</button>
                        </div>
                    </div>
                </form>
</div>
        </div>
    </div>